@import 'reset.min';
@import 'genvars';

body {
  font-family: $font-family;
  font-size: $font-size;
  color: $color1;
  background-color: rgba(0, 0, 0, .05);
  min-width: 200px;

  ::selection {
    background: $color3;
    color: $color2;
  }
}

@keyframes zoom {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

header {
  div {
    height: 15vh;
    min-height: 70px;
    background-image: url('/images/drudge-logo.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: zoom .5s;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    font-size: 16px;

    li {
      margin: 0 10px;
    }
  }
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-style: $font-style;
  margin: 20px 0;
}

a {
  color: $color3;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 460px) {
  body {
    font-size: $font-size-sm;
  }

  h1 {
    font-size: 1.5rem;
  }
}