@import 'genvars';

form {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;

  ::placeholder {
    color: $color1;
    font-style: $font-style;
    opacity: .5;
  }
}

.large-btn {
  background-color: $color3;
  color: $color2;
  transition: $transition;

  &:hover {
    background-color: $color2;
    color: $color3;
    box-shadow: 0 10px 15px $shadow-color;
    cursor: $cursor;
  }
}

@media (max-width: 460px) {
  form ::placeholder, .bar, .large-btn {
    font-size: $font-size-sm;
  }
}