@import 'genvars';

$bxshdw: 0 7px 10px $shadow-color;
$task-content-size: 30px;

main {
  width: 700px;
  max-width: 95%;
  margin: auto;
  text-align: center;
}

#task-container {
  box-shadow: $box-shadow;
  padding: 0;
  transform: scale(1);
}

@keyframes show {
  from {transform: translate(-50px);}
  to {transform: translate(0);}
}

.task {
  display: flex;
  background-color: $color2;
  justify-content: space-between;
  padding: 10px;
  animation: show .5s;

  &:not(:first-child) {
    border-top: 1px solid $shadow-color;
  }

  &:nth-child(2n) {
    animation-duration: 1s;
  }
}

.done-task {
  .marker {
    background-color: $color3;
    color: $color2;
  }

  .task-name {
    text-decoration: line-through $color1;
  }
}

.task-name {
  flex: .9;
  text-align: left;
  text-transform: capitalize;
  font-weight: 300;
  word-wrap: break-word;
  word-break: break-all;
  line-height: $task-content-size;

  &:focus {
    outline: 1px solid $color3;
    font-weight: 500;
  }
}

#stack {
  height: 5px;
  max-width: 98%;
  margin: auto;
  background-color: $color2;
  box-shadow: $box-shadow;
  display: none;
}

.toggle {
  display: none;
}

@mixin action-btn($size, $fntsz, $clr1, $borrad, $bgclr) {
  width: $size;
  height: $size;
  font-size: $fntsz;
  color: $clr1;
  background-color: $color2;
  border-radius: $borrad;
  border: none;
  transition: $transition;

  &:hover {
    color: $color2;
    background-color: $bgclr;
    box-shadow: $bxshdw;
    cursor: $cursor;
  }

  &:focus {
    outline: none;
  }
}

.marker {
  @include action-btn($task-content-size, 20px, $color2, 100%, $color3);
  border: 1px solid $color3;

  &:hover {
    border-color: transparent;
    animation: none !important;
  }
}

.edit, .done {
  @include action-btn($task-content-size, 20px, $color1, 100%, $color1);
  font-weight: bold;

  &::selection {
    background: $color1;
  }
}

.remove {
  @include action-btn($task-content-size, 20px, $color4, 100%, $color4);

  &::selection {
    background: $color4;
  }
}

.close {
  @include action-btn($task-content-size, 20px, $color1, 100%, $color1);
  position: absolute;
  top: 10px;
  right: 10px;

  &::selection {
    background: $color1;
  }
}

#info-wrap {
  margin-top: 20px;
  display: none;
  justify-content: space-evenly;

  * {
    font-size: 16px;
    font-style: $font-style;
    padding: 5px;
  }

  button {
    background-color: $color2;
    color: $color4;
    font-family: $font-family;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    box-shadow: $box-shadow;
    transition: $transition;
    cursor: pointer;
    outline: none;
    display: none;
    animation: show .5s;

    &:hover {
      box-shadow: $bxshdw;
      background-color: $color4;
      color: $color2;
    }

    &::selection {
      background: $color4;
    }
  }
}

form {
  * {
    padding: 10px;
    font-family: $font-family;
    font-size: $font-size;
    border-radius: 0;
    border: 1px solid transparent;
    box-shadow: $box-shadow;
    outline: none;
  }

  input[type="text"] {
    flex: .8;
    max-width: 80%;
  }

  ::placeholder {
    color: $color1;
    font-style: $font-style;
    opacity: .5;
  }

  input[type="submit"] {
    flex: .18;
    max-width: 18%;
  }
}

@media (max-width: 460px) {
  form {
    * {
      font-size: $font-size-sm;
    }

    input[type="text"] {
      flex: .7;
      max-width: 70%;
    }

    input[type="submit"] {
      flex: .28;
      max-width: 28%;
    }
  }
}